.projects{
    border-style: dashed;
    border-color: #e7eae51e;
    padding: 2rem;
    border-radius: 1rem;
    width: 100%;
    
}

.Social{
    width: 100%;
    border-style: dashed;
    border-color: #e7eae51e;
    padding: 2rem;
    border-radius: 1rem;
}

.websites{
    width: 100%;
    border-style:dashed;
    border-color: #e7eae51e;
    padding: 2rem;
    border-radius: 1rem;
}


ul li{
    margin-left: 1.2rem;
    list-style:circle;
    color:#535664;
}

.contact {
    font-size: 1.5rem;

    margin: 0.4rem;

    
}
.contact h6{
    color: #31333d;

}

.contact h6:hover{
    color:#4d648d;
}